name: Hardware CI

on:
  pull_request:
    branches: ["main"]

jobs:
  hardware-test:
    runs-on: self-hosted
    environment: rpi4
    env:
      CARGO_TERM_COLOR: always
      PICO_ENCODER_UART: ${{ vars.PICO_ENCODER_UART }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Lint
        run: make lint

      - name: Run Tests
        run: make test

      - name: Flash Release Firmware
        run: make flash-release

      - name: Test Hardware
        run: make test-hardware
